<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<% i = 0 %>
<% if @cities.count % 3 == 0 %>
  <% rows = (cities / 3) %>
<% else %>
  <% rows = ((@cities.count / 3) + 1) %>
<% end %>
<% rows.times do %>
  <div class="city_row">
    <% @cities[i..(i+2)].each do |city| %>
      <%= link_to city, class: "city_link" do %>
        <div class="city_img" style="background-image:url('<%= city.image_url %>')"><p><%= city.name %></p></div>
      <% end %>
    <% end %>
  </div>
  <% i += 3 %>
<% end %>
