// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.single_comment {
  border-top-style: solid;
  border-color: darkgrey;
  border-top-width: 2px;
  width: 90%;
  margin-left: 5%;
}

#comment_body {
  margin-left: 3%;
  font-family: serif;
  font-size: 18px;
}

#comment_info {
  margin-left: 6%;
  font-family: sans-serif;
  color: grey;
  font-size: 11px;
}

#comments {
  position: relative;
}

#new_comment_form {
  display: none;
  margin-left: 5%;
}

#cancel_comment {
  display: inline-block;
  position: relative;
  margin-left: 5%;
  border-style: solid;
  border-width: 0.5px;
  border-color: #e0e0e0;
  border-radius: 4px;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 12px;
}

#comment_intro {
  position: relative;
  display: inline-block;
  font-weight: bold;
}

#comment_form_link {
  position: relative;
  display: inline-block;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
