// Place all the styles related to the Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#spot_info {
  position: relative;
  margin-top: 24%;
  z-index: 2;
}

#spot_info h2 {
  font-size: 30px;
  margin-left: 2%;
}

#new_spot_link {
  text-decoration: underline;
  display: inline;
  margin-left: 3%;
  font-weight: bold;
  cursor: pointer;
}

#cancel_btn {
  position: absolute;
  right: 3%;
  top: 8%;
  height: 1.0em;
  width: 1.0em;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  font-family: sans-serif;
  color: indianred;
  transition: all 0.2s ease;
  cursor: pointer;
}

#form_title {
  position: absolute;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

#form_fields {
  position: relative;
  margin-left: 10%;
  margin-top: 5%;
  display: inline-block;
}

#form_guidelines {
  position: relative;
  margin-top: 5%;
  margin-left: 8%;
  display: inline-block;
  width: 45%;
}

#form_guidelines p {
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 10%
}

.spot_row {
  position: relative;
  height: 200px;
  width: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 2%;
}

.spot_link:hover {
  background-color: transparent;
}

.spot_img {
  position: relative;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 175px;
  height: 175px;
  margin-left: 1%;
  margin-right: 2%;
  opacity: 0.8;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  transition: all 0.5s ease;
}

.spot_img:hover {
  opacity: 1.0;
  border-color: #a0d4e7;
}

.spot_img p {
  text-align: center;
  position: relative;
  color: #0c0ce8;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  top: 100%;
  width: 100%;
}

#new_spot_form {
  z-index: 1;
  display: none;
  position: relative;
  width: 65%;
  margin-left: 17.5%;
  border-style: solid;
  border-color: black;
  border-radius: 12px;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  transition: all 1.15s ease;
}
